
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Oooh+Baby&family=Square+Peg&display=swap');
/* font-family: 'Hurricane', cursive;

font-family: 'Indie Flower', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;


*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Mono:wght@700&family=Roboto+Slab:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;

  }
  .material-symbols-rounded {  
     color:red;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48  }

  body{
   background-color: #030006;
  }

  a:hover {
    background-color: #CD4A5F;
  }   

#top-nav{
 
    background-color: #030006;
}

    #top-nav a{
    color: aliceblue;
}

#top{
    background-color: #030006;
    height: 900px;
}
#top img{
  width: 100%;
  height: auto;  
  margin-top: 170px;
}
#top h1{
  font-family: 'Roboto Slab', serif;
    color: aliceblue;
    font-size: 5vw;
    margin: 170px 0 0 0;
}
#top p{
  font-family: 'Roboto Slab', serif;
    color:#868889;
    font-size: 20px;
    margin: 30px 0 0 0 ;
}


/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
#me{
  background-image: url('img/9.jpg');

}
#me1 img{
  width: 100%;
  height: auto;
  margin-top: 150px;
}
#me1{
   height: 950px;
}
#me2{  
  height: 950px;
  padding-top: 200px;
  color: #414141;
  font-family: 'Roboto Slab', serif;
  
}
#me2 h1{
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;

}
.list-group-item{
  background-color: transparent;
  color: #414141;
  font-family: 'Roboto Slab', serif;
  
}
/* ------------------------------------------------------- */
#projects{
  height: auto;
  background-color: #f3eef8;
}

#projects h1{
text-align: center;
font-family: 'Roboto Slab', serif;
font-size: 50px;
color: #414141;
}

#project-center{
padding-top: 50px;
padding-bottom: 50px;
}

.card{
  border-radius: 15px; 

}

/* ------------------------------------------------------- */
#contact{
  height: 890px;
  background-color: #030006;
}
#contact h1 {
color: white;
font-family: 'Roboto Slab', serif;
font-size: 60px;
padding-top: 270px;
}
#contact p ,label {
  color: white;
  font-family: 'Roboto Slab', serif;
  
  }
#contact-text{
 
  }
  #contact-input{
    padding-left: ;
    padding-top: 250px;
    }
    #contact-input label{
     color: #f3eef8;
     font-size: 15px;
      }
      #contact-text span{
        color: red;
        font-family: 'Indie Flower', cursive;
        font-size: 28px;
      }
   
      #btn{
        background-color: rgb(92, 85, 85);
        color:white ;
        font-family: 'Roboto Slab', serif;
        width: 100%;
      }
      #or{
        color: #868889;
        font-family: 'Roboto Slab', serif;
        text-align: center;
      }

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */
#footer-title h6 {
  text-align: center;
}
footer span{
  color: red;
  font-family: 'Hurricane', cursive;
  font-size: 30px;

}
footer{
 
  background-color: #030006;
  color: #e9e8e5;
}
/* ------------------------------------------------------- */

/* =====================MEDIA============================= */

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #top-nav a{
  margin-right: -10px;
}
  #top img{
    width: 100%;
    height: auto;  
    margin-top: 120px;
  }
  #top h1{
 font-size: 30px;
      margin: 17px 0 0 0;
  }
  #top p{
  
      font-size: 18px;
  
  }
  #top{
    background-color: #030006;
    height: 700px;
}

#me1 img{
  width: 100%;
  height: auto;
  margin-top: 0px;
}
#me{
  height: 1550px;
}
#me1{
  height: 330px;
}
#me2{  
 height: 200px;
 padding-top: 0px;

 
}
#contact h1 {

  font-size: 30px;
  padding-top: 20px;
  }

  #contact-input{
    padding-left: ;
    padding-top: 20px;
    }
    #contact{
      height: 610px;
      background-color: #030006;
    }

    #contact-text {
    text-align: center;

    }
    #contact-text span{
   
      font-size: 18px;
    }

    footer{
      margin-top: 15px;
  
    }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
/* ============================================ */
  


